[Unit]
Description=Python service to read sensors

[Service]
WorkingDirectory=/home/pi/python-temperature-humidity-reporter/
ExecStart=/usr/bin/python python-temperature-humidity-reporter.py
Restart=always

[Install]
WantedBy=multi-user.target